<div class="window">
<header class="toolbar toolbar-header">
  <div class="toolbar-actions">
    <button class="btn btn-default pull-right" title="Refresh" (click)="getDataDetails()">
      <span class="icon icon-arrows-ccw icon-text"></span>
      Refresh Data
    </button>
  </div>
</header>
<div class="overflow-auto">
  <table class="table-striped">
    <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>ID</th>
        <th>CONTACT</th>
        <th>TIME</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let qr of qrData$ | async">
        <td>{{qr[0]?.formattedValue}}</td>
        <td>{{qr[1]?.formattedValue}}</td>
        <td>{{qr[2]?.formattedValue}}</td>
        <td>{{qr[3]?.formattedValue}}</td>
        <td>{{qr[4]?.formattedValue | date:'mediumTime'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>