<div #startupScreen id="startup-screen" class="flex h-100 w-100 cover bg-center bg-near-black"
  [ngStyle]="startupScreenBgStyles">
  <router-outlet class="absolute h-100 w-100 top-0 left-0 overflow-y-auto z-999"></router-outlet>
</div>