<div class="window">
  <div class="window-content">
    <div class="padded-more flex w-100 mw-100">
      <form class="w-100 mw-100" (ngSubmit)="mockSubmit()" (submit)="mockSubmit()">
        <div class="form-group">
          <label>Sheet URL</label>
          <input type="text" class="w-100" #url id="url" required pattern="https?://.+" [ngClass]="(!validUrl)?'ba b--red form-control':'form-control'" minlength="10" name="url" >
          <div *ngIf="!validUrl" class="red pt3 pb3"><span class="icon icon-cancel-circled"></span>&nbsp;Please enter a valid sheet url</div>
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-form btn-primary" (click)="saveSheetDetails(url.value)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
