<div class="window">
  <header class="toolbar toolbar-header">
    <div class="toolbar-actions">
      <button class="btn btn-default" title="Scanner" [ngClass]="{'btn-primary': scannerOpen}" [disabled]="scannerDisable" (click)="openScannerWindow()">
        <span class="icon icon-camera icon-text"></span>
        Scanner
      </button>
      <button class="btn btn-default pull-right" title="Logout" (click)="handleLogout()">
        <span class="icon icon-logout icon-text"></span>
        Logout
      </button>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="w-25 sidebar">
        <nav class="nav-group">
          <h5 class="nav-group-title ttc srf-bg" [ngClass]="{ 'active' : settingsOpen, '' : !settingsOpen }">Dashboard</h5>
          <a class="nav-group-item ttc srf-bg" [ngClass]="{ 'active' : homeOpen, '' : !homeOpen }" (click)="handleHome()">
            <span class="icon icon-home"></span> Home
          </a>
          <!--<a class="nav-group-item ttc srf-bg">
            <span class="icon icon-chart-line"></span> Statistics
          </a>-->
          <a class="nav-group-item ttc srf-bg" [ngClass]="{ 'active' : manualEntry, '' : !manualEntry }"
          (click)="handleManualEntry()"
          >
            <span class="icon icon-pencil"></span> Manual Entry
          </a>
          <a class="nav-group-item ttc srf-bg" [ngClass]="{ 'active' : settingsOpen, '' : !settingsOpen }" (click)="handleSettings()">
            <span class="icon icon-cog icon-text"></span> Settings
          </a>
        </nav>
      </div>
      <div class="pane">
        <div *ngIf="!gotData" class="dt bg-black-30 aspect-ratio--object">
          <div class="dtc v-mid tc white ph3 ph4-l">
            <div class="spinner w-10 mv0-ns center-m tc-ns">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
