<div class="absolute top-0 left-0 h-100 w-100 z-999">
  <div class="flex w-100 h-100 items-center justify-center pa3-ns">
    <div class="w-100">
      <div class="logo-mw center ph4 mv5 mv0-ns">
        <div class="aspect-ratio aspect-ratio--16x9">
          <div class="o-0 aspect-ratio--object cover bg-center" [ngStyle]="splashScreenLogoStyles" [ngClass]="{'animated fadeIn': animateIn}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

