<div class="window">
  <div class="window-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="srf-gb lh-copy title">&copy; {{copywriteYear}} {{footerBrandName}}</h1>
  </footer>
</div>