<section class="flex items-center justify-center vh-100 w-100 srf-gb bg-near-white">
  <header class="tc ph4 w-100">
    <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
      Oops !!!
    </h1>
    <p class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
      Seems like the page you are looking for is not found.
    </p>
    <div>
      <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-black ttu shadow-3 f-ls" [routerLink]="['/splash']">Go Back</a>
    </div>
  </header>
</section>
