<div class="absolute top-0 left-0 h-100 w-100 z-999">
  <div class="flex h-100 w-100 pa3-ns flex-column flex-row-ns overflow-auto">
    <div class="w-50-ns tc">
      <div class="h-100 w-100 flex flex-column justify-center">
        <div class="w-100">
          <div class="logo-mw center ph4 mt3 mv0-ns">
            <div class="aspect-ratio aspect-ratio--1x1">
              <div class="aspect-ratio--object cover bg-center" [ngStyle]="loginEventLogoStyles"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-50-ns tc">
      <div class="h-100 w-100 flex flex-column justify-center">
        <div class="w-100 bl-ns b--white-60 ph3">
          <div class="logo-mw center ph4 mt2 mt0-ns">
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object cover bg-center" [ngStyle]="loginBrandLogoStyles"></div>
            </div>
          </div>
          <div class="logo-mw center ph4 mt3">
            <a class="f6 link br1 ph3 pv2 mb2 db tc ttu near-black bg-white shadow-3 srf-gb f-ls" (click)="handleLogin()">login</a>
          </div>
          <div class="center ph2 ph4-ns mt4">
            <p class="white-60 srf-gb lh-copy">
              {{loginFormText}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

