<div class="window">
  <div class="window-content">
    <div class="padded-more">
        <button type="button" class="btn btn-form btn-primary" (click)="addDataManually()">
          <span class="icon icon-link icon-text"></span>
          Go to Google Sheet
        </button>
    </div>
  </div>
</div>